@charset "UTF-8";

/*Todas os tipos de media */

/* Typical Device Breackpoins 
pequenas telas: té 600px
celular: de 600px até 768px
tablet: de 768px até 992px
descktop: de 992px até 1200px
grandes telas: acima de 1200px

*/

@media print { /*impressão */

}

@media screen and (min-width: 768px) and (max-width: 992px) { /*tablet */
    body {
        background-image:url('../imagens/back-tablet.jpg');
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) { /* desktop */
    
}

@media screen and (min-width: 1200px) { /* grandes telas */

}